
.title h1 {
    color:rgb(41, 156, 194) ;
}

.title .row {
    background-color: rgb(41, 156, 194);
    height: 60px;
    text-align: center;
    align-content: center;
    color: white;
}

.title .row span {
    font-size: 20px;
}




.container-for-icon {
    background-color: #ddd;
}

.icon-tag {
    flex-basis: calc((100% / 5) - 36px);
    max-width: calc((100% / 5) - 36px);
    height: 100px;
    text-align: center;
    margin: 18px;

    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.icon-tag i {
    width: 100%;
    font-size: 24px;
    margin-bottom: 8px;
}

.icon-tag i.user {
    color: purple;
}

.icon-tag i.animal {
    color: blue;
}

.icon-tag i.vegetable {
    color: orange;
}

.icon-tag .name {
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
}

